aiohttp==3.11.10
aiosqlite==0.21.0
azure-ai-inference>=1.0.0b7
brotli==1.1.0
colorlog==6.9.0
dashscope==1.23.0
edge_tts==7.0.0
emoji==2.14.0
Flask==3.1.0
Flask_Cors==5.0.0
Flask_SocketIO==5.5.1
funasr==1.1.6
httpx==0.28.1
keyboard==0.13.5
nicegui==2.16.1
ollama==0.4.8
openai==1.78.0
protobuf==6.30.2
PyAudio==0.2.14
PyAutoGUI==0.9.54
pydantic==2.11.4
pydub==0.25.1
PyYAML==6.0.2
Requests==2.32.3
websocket_client==1.8.0
yarl==1.18.3
